.card-wrapper{
  width: 350px;
  box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 20%);
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  background-color: #F0F8FF;

}

.card-img {
  width:90%;
  border-radius: 10px;
}

.card-title {
  margin-top: 10px;
  font-size: 1.3em;
}

.date-capture{
  font-size: .8em;
  font-style: italic;
  margin-top: 0px;
  margin-left: 15px;
  text-align: left;
}

.description-title {
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 5px;
}

.description {
  text-align: left;
    font-size: 80%;
    margin-block-start: 0px;
}

.link-text {
  font-size: 1.1em;
  color: blue;
  cursor: pointer;
}

.fa-heart {
  font-size: 25px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(245,105,145);
}

.fa-heart.active {
  font-size: 25px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(245,105,145);
  color: rgb(245,105,145);
  transition: all 0.2s ease-out;

}

.heart-wrapper, .comment-wrapper {
  display: inline-block;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 25px;
}
.heart-wrapper:hover{
  background-color: rgb(245,105,145,0.3);
  transition: all 0.3s ease-out;
}

.heart-wrapper.active{
  display: inline-block;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 25px;
  background-color: rgb(245,105,145,0.3);

}

.heart-wrapper:active {
  transform: translateY(3px);
}

.comment-wrapper:hover{
  background-color: rgb(80,200,120,.5);
  transition: all 0.3s ease-out;
}


.comment-wrapper.active{
  display: inline-block;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 25px;
  background-color: rgb(80,200,120,.3);

}

.comment-wrapper:active {
  transform: translateY(3px);
}

.fa-comments{
    font-size: 25px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(80,200,120);
}
.bottom-section {
  display: flex;
  justify-content: space-around;
}

.input-text {
  width: 90%;
  font-size: 1em;
  margin-top: 10px;
  height: 4em;
  border-radius: 15px;
  border-width: 0px;
  background-color: rgb(220,220,220,0.3);
  padding-left: 15px;
  transition: all 0.3s ease-out;
  font-style: italic;
  font-weight: bold;

}

.input-text:focus {
  background-color: rgb(137,207,240,.3);
  transition: all 0.3s ease-out;
  font-size:.8em;
  font-style: normal;
  font-weight: normal;
}

.dream-comment{
  color: rgb(153,153,153);
  font-style: italic;
}

.fa-ban{
  font-size: 25px;
  color: #cc3333;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2);
    transition: all 1.2s ease-out;
  }
